  <div class="card col-sm-12">
    <div class="card-header text-center">
    <%= @user.name %>
    </div>
    <div class="card-body">
      名前:<br>
      <%= @im.real_name %><br>
      経歴:<br>
      <%= @im.career %><br>
      趣味:<br>
      <%= @im.pastime %><br>
      一言:<br>
      <%= @im.one_point %><br>
    </div>
  </div>
      <% if current_user.already_favorited?(@im) %>
        <%= link_to 'mylist登録を外す', im_favorites_path(@im), method: :delete %>
      <% else %>
        <%= link_to 'mylist登録', im_favorites_path(@im), method: :post %>
      <% end %>